.cart {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cartHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.cartHeader img {
  width: 2rem;
  height: auto;
  cursor: pointer;
}

.cart > Button {
    margin-top: 1rem;
}

.cartItem {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cartItem img {
  width: 7rem; /* Adjust based on your needs */
  height: auto;
}

.checkbox {
  margin-top: 1rem;
}

.checkoutButton {
  margin-top: 1rem;
}
