.contentContainer {
    width: 100%;
    display: flex  ;
    justify-content: center;
    align-items: center;
}

.content {
    width:50%;
    display:flex;
    flex-direction: column;
    margin-bottom:2rem;
}

.content h1 {
    display:flex;
    justify-content: center;
    padding:1rem;
    margin:0;
}

.content p {
    padding:0rem 1rem;
}