.searchBarContainer {
    margin: 1rem 0rem;
    width:50%;
}

.searchBarContent {
    width:100%;
    display: flex;
    flex-direction:row;
}

.form {
    margin-top: 1rem;
    display: flex ;
    justify-content: center;
    align-items: center;
    height:2.25rem;
    box-shadow: var(--box-shadow);
    width:100%;
}

.form input {
    border: none;
    width:100%;
    height:2.6rem;
}

input[type=text] {
    padding: 0rem 0.5rem;
    font-size: var(--p-size);
    box-shadow: none;
}

.form input:focus {
    outline: none;
    box-shadow: none;
    background-color: var(--sage-25);
}
