/* Default styles for larger screens */
.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 4rem;
  margin-top: 0;
  background-color: rgba(255, 255, 255, 0);
  position: relative;
  z-index: 100; 
}

.NavBarLinks {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.NavBarIcons {
  display: flex;
  gap: 1.5rem;
  align-items: right;
}

.hidden {
  top: -100px;
}

.Dropdown {
  position: relative;
  display: inline-block;
}

.DropdownLink {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Dropbtn {
  display: flex;
  align-items: center;
}

.DropdownContent {
  display: none;
  position: absolute;
  background-color: var(--off-white);
  min-width: 12rem;
  box-shadow: var(--box-shadow);
  z-index: 1;
}

.DropdownContent a {
  color: var(--leaf);
  padding: 0.5rem 2rem 0.5rem 1.5rem;
  text-decoration: none;
  display: block;
}

.DropdownContent a:hover {
  background-color: var(--sage-25);
}

.Dropdown:hover .DropdownContent {
  display: block;
}

.CartItemCount {
  position: absolute;
  top: 0.75rem;
  right: 3rem;
  background-color: var(--leaf);
  color: var(--off-white);
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  font-size: 0.75rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.BurgerIcon {
  display: none;
  cursor: pointer;
  font-size: 2rem;
}

.MobileMenuContent {
  display: none;
}

/* Styles for mobile screens */
@media (max-width: 768px) {
  .NavBar {
    padding: 0.5rem 2rem;
  }

  .NavBarLinks {
    display: none;
  }

  .NavBarIcons {
    display: none;
  }

  .BurgerIcon {
    display: block;
  }

  .mobileMenu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .MobileMenuContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 3.5rem; 
    left: 0;
    width: 100%;
    height: calc(100% - 3.5rem);
    background-color: var(--off-white);
    z-index: 10;
    padding: 2rem;
    overflow: hidden;
  }

  .MobileMenuContent a {
    padding: 1rem 2rem;
    font-size: 1.5rem;
  }

  .hideDesktopMenu {
    display: none;
  }
}
