:root {
  --leaf-dark: #46523D;
  --leaf: #55644a;
  --leaf-75: rgb(85, 100, 74, 0.75);
  --sage: #C3CDB9;
  --sage-25: rgb(195, 205, 185, 0.25);
  --sage-light: #E0E6DB;
  --terracotta: #A94B27;
  --blush:rgb(255, 224, 198);
  --blush-light: rgb(255, 240, 228);
  --sand: rgb(250, 239, 224);
  --off-white: #fffcfa;
  --heading-font: "Open Sans", sans-serif;
  --body-font: "Poppins", sans-serif;
  --h1-size: 4rem;
  --h2-size: 1.5rem;
  --h3-size: 1.25rem;
  --h4-size: 1rem;
  --p-size: 0.875rem;
  --p-size-small: 0.75rem;
  --p-size-extra-small: 0.625rem;
  --box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.12);
  --font-weight-bold: 700;
  --font-weight-regular: 500;
  --font-weight-semibold: 600;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--off-white);
}

p,a {
    font-family: var(--body-font);
    font-weight: var(--font-weight-regular);
    font-size: var(--p-size);
    color: var(--leaf-dark);
    text-decoration: none;
    line-height:1.5;
}

h1 {
    font-family: var(--heading-font);
    font-weight: var(--font-weight-bold);
    color: var(--leaf);
    font-size: var(--h1-size);
    letter-spacing: -1px;
}

h2 {
    font-family: var(--heading-font);
    font-weight: var(--font-weight-bold);
    color: var(--leaf);
    font-size: var(--h2-size);
}

h3 {
    font-family: var(--heading-font);
    font-weight: var(--font-weight-bold);
    color: var(--leaf);
    font-size: var(--h3-size);
}

h4 {
    font-family: var(--heading-font);
    font-weight: var(--font-weight-bold);
    color: var(--leaf-dark);
    font-size: var(--h4-size);
}
.pageContainer {
 width:100%;
}

.page {
    padding: 0rem 4rem 0rem 4rem;
    background-color: var(--off-white);
}

.hero {
    font-family: var(--heading-font);
    font-weight: var(--font-weight-bold);
    color: var(--leaf);
    font-size: 3rem;
    letter-spacing: -1px;
}

.searchBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.no-scroll {
  overflow: hidden !important; /* Adding !important to ensure it overrides other styles */
  height: 100%; /* Lock the height if necessary */
  width: 100%; /* Lock the width to prevent width adjustment */
  position: fixed; /* Optionally make body fixed */
}