.bannerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blush-light);
    height:35rem;
    width:100%;
    margin: 2rem 0rem;
}

.bannerContent {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 0rem 8rem 0rem 8rem;
}

.bannerContent > Button {
    margin-top:1rem;
    width:50%;
}
.bannerImage{
    width: 30%;
    height: 100%;
    object-fit: cover;
    margin-right: 4rem;
}
